* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
/* Custom styles */
.navbar-custom {
  background-color: #0d6efd; /* Bootstrap primary color */
}

header {
  z-index: 100;
  position: fixed;
  width: 100%;
  top: 0%;
}
.navbar-custom .navbar-brand {
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
}

.navbar-custom .nav-link {
  color: #f8f9fa;
  margin-right: 15px;
  transition: 0.3s;
}

.navbar-custom .nav-link:hover {
  color: #ffc107;
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.5);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255,255,255,0.7%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
/* banner sections */
.banner-img img {
  width: 400px;
}
.section-1 {
  background-color: #f1f1f0;
}
.section-1 img {
}
/* appoint sections */
.appointment-details i {
  font-size: 1.5rem;
}
/* catlog sections */
.section-3 img {
  width: 100%;
}
.section-3-items p {
  margin: 0%;
}
/* new arrivals */
.section-4 {
  padding-top: 70px;
}
.section-4 img {
  height: 200px;
}
/* winter collections sections */

.section-5 img {
  width: 600px;
}
.section-5 {
  background-color: rgb(241, 241, 240);
}

/* video banner sections */
.section-7 {
  width: 90%;
  margin: auto;
}
.section-7 img {
  height: 600px !important;
}
/* brandlogo sections */
.section-10 .login-form {
  width: 50%;
}
/* footer sections */
footer {
  background-color: rgb(241, 241, 240);
  padding: 80px 0px 0px 0px;
}
/* * video banner sections */
*/ .card img {
  height: 300px;
  width: 500px;
}

/* mobile responsive device */
@media (min-width: 320px) and (max-width: 576px) {
  .section-4 {
    padding-top: 30px;
  }
  /* footer sections */
  footer {
    background-color: rgb(241, 241, 240);
    padding: 30px 0px 0px 0px;
  }
  /* navbar section */
  .navbar {
    position: fixed;
    width: 100%;
  }
  .section-7 .image {
    height: 300px;
  }
  .section-1 {
    padding-top: 60px;
  }
}

/* tablet responsive device */
@media (min-width: 768px) and (max-width: 1024px) {
  .section-4 {
    padding-top: 30px;
  }
  /* best selling items sections */
  .section-8 {
    height: 40vh !important;
  }
}
